@import './boostrap.bundler';

/**
Global Styling should be kept at a MINIMUM. React and Bootstrap do NOT go well with each other.
Any additional contributions to this file will only further complicate the issue.
 */

@include media-breakpoint-down(md) {
  .hero-section img {
    position: absolute;
    top: 50%;
    transform: translateY(-25%) scaleX(-1) scale(1.5);
    z-index: -1;
    right: -3em;
  }

  .hide-section-image-md img.section-image {
    display: none;
  }

  .btn-meetup, .btn-get-involved {
    min-width: 10em;
  }
}

// offset to account for fixed header
section {
  scroll-margin-top: 7rem;
}

// Meetup button styles. Note #e51937 -> hsl = hsl(351, 80%, 50%)
.btn-meetup {
  @include button-variant(hsl(351, 80%, 50%), hsl(351, 60%, 30%));
  color: var(--bs-white);
}
.btn-get-involved {
  @include button-variant(hsl(30, 92%, 58%), hsl(35, 93.9%, 93.5%));
  color: var(--bs-white);
}
.btn-slack {
  @include button-variant(hsl(299, 56%, 19%), hsl(299, 36%, 19%));
  color: var(--bs-white);
}
.btn-eventbrite {
  @include button-variant(hsl(17, 92%, 57%), hsl(17, 72%, 37%));
  color: var(--bs-white);
}
